.git
.docker-data
.dev-logs
node_modules
apps/admin/.next
apps/admin/node_modules
apps/mobile/node_modules
apps/mobile/.expo
apps/api/vendor
apps/api/storage/logs
apps/api/storage/framework/cache
apps/api/storage/framework/sessions
apps/api/storage/framework/views
packages/*/node_modules
